
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <h2>THÔNG TIN NHÓM</h2>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col"></th>
                            <th scope="col">MSSV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>PHẠM QUANG TRUNG</td>
                            <td></td>
                            <td>1760220</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>PHAN THẾ CÔNG</td>
                            <td></td>
                            <td>1760271</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">NGUYỄN HỮU ĐỨC</td>
                            <td>1760287</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td colspan="2">NGUYỄN THANH DƯƠNG</td>
                            <td>1760290</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>