{{#section 'css'}}
<link href="../public/css/pricing.css" rel="stylesheet" type="text/css"/>
{{/section}}


<div class="pricing py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="text-align: center;">Mua gói để đọc được các bài viết Premium</h1>
            </div>
        </div>
        <div class="row">
            {{#each listPackage}}
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">{{Name}}</h5>
                        <h6 class="card-price text-center">{{Price}} VNĐ</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Xem các bài viết Premium</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Tải về ấn bản</li>
                        </ul>
                        <a href="/checkout/{{PackageID}}" class="btn btn-block btn-primary text-uppercase">Đăng ký</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>