
.newspaper-content-size{
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.fh5co_magna{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
.most_fh5co_treding_font{
    color: black;
    font-weight: bolder;
    text-decoration: none !important;
}

.fh5co_magna:hover{
    color: var(--red-color);
    text-decoration: none;
}

.most_fh5co_treding_font:hover{
    color: var(--red-color);
    text-decoration: none !important;
}

.btn_mange_pagging {
    background: #f1f1f1;
    padding: 12px 20px;
    color: #222 !important;
    font-weight: 800;
    margin: 0 10px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn_mange_pagging:hover,
.btn_mange_pagging:focus {
  background: var(--red-color);
  color: #fff !important;
  font-weight: 800;
  text-decoration: none;
}


.fit-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .popular-img-size{
        width: 30px;
        height: 90px;
    }
    .popular-title-size{
        
        height: 30px;
        display: -webkit-box;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .popular-img-size{
        height: 30px;
    }
    
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .popular-title-size{
        
        height: 50px;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .popular-img-size{
        height: 50px;
    }
}
/* // Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .popular-img-size{
        height: 60px;
    }
    .popular-title-size{
        
        height: 52px;
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}
