* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #d6dae5 !important;
  font-family: "Poppins", sans-serif;
}

.main {
  height: 100%;
  width: 100%;

  border: none;
  border-radius: 20px;

  background-color: #fefefe;

  overflow: hidden;
}

.row {
  margin: 0 !important;
}
/* Sidebar */
.sidebar {
  height: 100%;
  border-right: 1px solid rgba(134, 127, 127, 0.411);
  padding: 20px 0 !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-pc {
  height: 100%;
  border-right: 1px solid rgba(134, 127, 127, 0.411);
  padding: 20px 0 !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 100%;
  padding: 15px 15px 50px 15px;
}

.logo img {
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  width: 100%;
}

.list-link {
  color: rgb(139, 139, 139);

  font-size: 16px;
  text-decoration: none;

  display: block;

  padding: 6px 0;
  margin: 20px 0;
}

.list-link i {
  padding: 0 8px;
}

.list-item:hover .list-link {
  color: black !important;
  font-weight: 500;
  text-decoration: none;

  border-right: 3px solid black;

  transition: all 0.2s !important;
}

.active {
  color: black !important;
  font-weight: 500;
  text-decoration: none;

  border-right: 3px solid black;

  background: none !important;
}

/* Ads */

.ads {
  text-align: center;

  border: none;
  border-radius: 10px;

  background-color: rgb(240, 247, 247);

  margin-top: 50px;

  padding: 0 !important;
}

.ads img {
  position: absolute;

  top: 0;
  left: 25%;

  width: 100px;
  height: 100px;
}

.ads p {
  font-size: 14px;
  padding: 75px 14px 0 14px;
}

/* Main content */
.main-content {
  background-color: #f6f5fb;
  padding: 20px 0;
}

.top-bar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-form input {
  border-radius: 6px;
}

.btn-search {
  padding: 4px 12px;

  border: none;
  border-radius: 6px;

  background-color: rgb(228, 234, 234);

  color: #78a2cb;
}

.btn-search:hover {
  cursor: pointer;
  background-color: rgb(221, 223, 223);
}

/* Banner */

.banner {
  margin-top: 60px;

  display: flex;

  border-radius: 10px !important;

  background-color: #f8e5e9 !important;
}

.banner-left,
.banner-right {
  flex: 1;
}

.banner-left {
  padding: 10px 20px;
}

.banner-left h3 {
  color: #ec8da1 !important;

  font-weight: 600;
}

.banner-text {
  font-size: 14px;
}

.parameter {
  font-weight: bold;
}

/* Chart */

.chart {
  width: 100%;
  background-color: #f6f5fb;

  border: none;
  border-radius: 12px !important;

  overflow: hidden;

  box-shadow: 2px 2px 4px gray;
}

#myChart {
  width: 100%;
  height: auto;
}

/* Card Feature */
.feature .card {
  border-radius: 6px !important;
  border: none;

  position: relative;

  overflow: hidden;
}

.feature .card-body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 26px 8px;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.title-feature-card {
  margin-right: 90px;
}

/* detail */
.detail-text{
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  margin: 8px 0;
}

.detail-text span{
  font-weight: bold;
}

.btn-backwards:hover, .btn-edit:hover{
  color: #f6f5fb !important;
}

.card-body img{
  width: 100%;
  height: auto;
}

.detail-text-content{
  text-align: justify;
}

/* form edit */
.form-check{
  margin-right: 10px;
}

.show .event-type.error {
  border-color: #f2545b !important;
  background-color: #f2545b !important;
}

label.error {
  color: #dc3545;
  border-color: #ebccd1;
  padding: 1px 6px 1px 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;

  position: relative;
  top: 100%;
}



@media screen and (min-width: 280px) and (max-width: 320px) {
  .sidebar-pc {
    display: none;
  }

  .banner {
    margin-top: 30px;
    flex-direction: column;
  }

  .banner-right img {
    width: 100%;
    height: auto;
  }

  .banner-text{
    font-size: 12px;
  }

  #myChart {
    max-height: 250px !important;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 6rem;
  }

  .feature .card-body{
    padding: 16px 8px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .sidebar-pc {
    display: none;
  }

  .banner {
    margin-top: 30px;
    flex-direction: column;
  }

  .banner-right img {
    width: 100%;
    height: auto;
  }

  .banner-text{
    font-size: 12px;
  }

  #myChart {
    max-height: 250px !important;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 6rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

  .container{
    max-width: 645px !important;
  }

  .sidebar-pc {
    display: none;
  }

  .banner {
    margin-top: 30px;
  }

  .banner-right img {
    position: absolute;
    width: 250px;
    height: 157px;
    top: -28px;
  }

  .banner-text{
    font-size: 12px;
  }

  #myChart {
    max-height: 200px !important;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-pc {
    display: none;
  }

  #myChart {
    max-height: 450px !important;
  }

  .banner {
    margin-top: 30px;
  }

  .banner-right img {
    position: absolute;
    width: 285px;
    height: 150px;
    top: -23px;
  }

  #myChart {
    max-height: 300px !important;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 6rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .sidebar-mobile {
    display: none;
  }

  #myChart {
    max-height: 350px !important;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 7rem;
  }

  .banner-right img {
    position: absolute;
    width: 400px;
    height: 210px;
    top: -68px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1100px) {
  .sidebar-mobile {
    display: none;
  }

  #myChart {
    max-height: 380px !important;
  }

  .banner-right img {
    position: absolute;
    width: 400px;
    height: 210px;
    top: -68px;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 7rem;
  }
}

@media screen and (min-width: 1101px){
  .sidebar-mobile {
    display: none;
  }

  #myChart {
    max-height: 400px !important;
  }

  .banner-right img {
    position: absolute;
    width: 460px;
    height: 205px;
    top: -62px;
  }

  .card-body-icon {
    top: -5px;
    right: -10px;
    font-size: 7rem;
  }

  .banner-left h3{
    font-size: 25px;
  }

  .banner-text{
    font-size: 16px;
  }
}
